:root {
  --grey: #f5f7fb;
  --white: #fff;
  --black: #3c3c3c;
  --clrBorders: #e5e5e5;
  --clrPrimary: #249782;
  --clrPrimaryLight: #e9f5f3;
  --clrSecondary: #ffcc1a;
  --clrNotification: #fd5d5c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
